@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";

:root {
  font-family: 'Press Start 2P', cursive;
  image-rendering: pixelated;
  --minecraft-green: #3fb33f;
}

body {
  @apply bg-zinc-900 text-white min-h-screen flex flex-col;
  margin: 0;
}

.text-minecraft-green {
  color: var(--minecraft-green);
}

.bg-minecraft-green {
  background-color: var(--minecraft-green);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}